---
name: "Configuration Files Quality Checks"

on: # yamllint disable-line rule:truthy
  workflow_call:
    secrets:
      CHECKER_TOKEN:
        description: "The GITHUB_TOKEN passed from the caller"
        required: true
    outputs:
      yaml-status:
        description: "The status of the YAML validation."
        value: ${{ jobs.config-checks.outputs.yaml-status }}
      yaml-summary:
        description: "The summary of the YAML validation."
        value: ${{ jobs.config-checks.outputs.yaml-summary }}
      json-status:
        description: "The status of the JSON validation."
        value: ${{ jobs.config-checks.outputs.json-status }}
      json-summary:
        description: "The summary of the JSON validation."
        value: ${{ jobs.config-checks.outputs.json-summary }}
      toml-status:
        description: "The status of the TOML validation."
        value: ${{ jobs.config-checks.outputs.toml-status }}
      toml-summary:
        description: "The summary of the TOML validation."
        value: ${{ jobs.config-checks.outputs.toml-summary }}

permissions:
  contents: read
  pull-requests: write
  issues: write

jobs:
  config-checks:
    name: "Configuration Files Quality Checks"
    runs-on: ubuntu-latest
    outputs:
      yaml-status: ${{ steps.config-checks.outputs.yaml-status }}
      yaml-summary: ${{ steps.config-checks.outputs.yaml-summary }}
      json-status: ${{ steps.config-checks.outputs.json-status }}
      json-summary: ${{ steps.config-checks.outputs.json-summary }}
      toml-status: ${{ steps.config-checks.outputs.toml-status }}
      toml-summary: ${{ steps.config-checks.outputs.toml-summary }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Run Config Checks
        id: config-checks
        uses: sessatakuma/org-workflows/.github/actions/config-checks@main
