---
name: "Python Code Quality Checks"

on:  # yamllint disable-line rule:truthy
  workflow_call:
    inputs:
      python-version:
        description: "The Python version to use"
        required: false
        type: string
        default: "3.11"
    secrets:
      CHECKER_TOKEN:
        description: "The GITHUB_TOKEN passed from the caller"
        required: true
    outputs:
      python-summary:
        description: "A summary of the Python code quality checks."
        value: ${{ jobs.python-checks.outputs.python-summary }}
      python-status:
        description: "The overall status of the Python checks."
        value: ${{ jobs.python-checks.outputs.python-status }}

permissions:
  contents: read
  pull-requests: write
  checks: write

jobs:
  python-checks:
    name: "Python Quality Checks"
    runs-on: ubuntu-latest
    outputs:
      python-summary: ${{ steps.run-checks.outputs.python-summary }}
      python-status: ${{ steps.run-checks.outputs.python-status }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Run Python Checks
        id: run-checks
        uses: ./.github/actions/python-checks
        with:
          python-version: ${{ inputs.python-version }}
