---
name: "Basic Code Quality Checks"

on: # yamllint disable-line rule:truthy
  workflow_call:
    secrets:
      CHECKER_TOKEN:
        description: "The GITHUB_TOKEN passed from the caller"
        required: true
    outputs:
      pr-title-status:
        description: "The status of the PR title check."
        value: ${{ jobs.basic-checks.outputs.pr-title-status }}
      pr-title-summary:
        description: "The summary of the PR title check."
        value: ${{ jobs.basic-checks.outputs.pr-title-summary }}
      branch-name-status:
        description: "The status of the branch name check."
        value: ${{ jobs.basic-checks.outputs.branch-name-status }}
      branch-name-summary:
        description: "The summary of the branch name check."
        value: ${{ jobs.basic-checks.outputs.branch-name-summary }}
      commit-messages-status:
        description: "The status of the commit messages check."
        value: ${{ jobs.basic-checks.outputs.commit-messages-status }}
      commit-messages-summary:
        description: "The summary of the commit messages check."
        value: ${{ jobs.basic-checks.outputs.commit-messages-summary }}
      commit-messages-report:
        description: "A detailed report for failed commit messages."
        value: ${{ jobs.basic-checks.outputs.commit-messages-report }}
      conflicts-status:
        description: "The status of the merge conflicts check."
        value: ${{ jobs.basic-checks.outputs.conflicts-status }}
      conflicts-summary:
        description: "The summary of the merge conflicts check."
        value: ${{ jobs.basic-checks.outputs.conflicts-summary }}

permissions:
  contents: read
  pull-requests: write
  issues: write

jobs: # yamllint disable-line rule:line-length
  basic-checks:
    name: "Basic Code Quality Checks"
    runs-on: ubuntu-latest
    outputs: # yamllint disable rule:line-length
      pr-title-status: ${{ steps.basic-checks.outputs.pr-title-status }}
      pr-title-summary: ${{ steps.basic-checks.outputs.pr-title-summary }}
      branch-name-status: ${{ steps.basic-checks.outputs.branch-name-status }}
      branch-name-summary: ${{ steps.basic-checks.outputs.branch-name-summary }}
      commit-messages-status: ${{ steps.basic-checks.outputs.commit-messages-status }}
      commit-messages-summary: ${{ steps.basic-checks.outputs.commit-messages-summary }}
      commit-messages-report: ${{ steps.basic-checks.outputs.commit-messages-report }}
      conflicts-status: ${{ steps.basic-checks.outputs.conflicts-status }}
      conflicts-summary: ${{ steps.basic-checks.outputs.conflicts-summary }}
    # yamllint enable rule:line-length
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Run Basic Code Quality Checks
        id: basic-checks
        uses: sessatakuma/org-workflows/.github/actions/basic-checks@main
        with:
          pr-title: ${{ github.event.pull_request.title }}
          branch-name: ${{ github.head_ref }}
          base-sha: ${{ github.event.pull_request.base.sha }}
          head-sha: ${{ github.event.pull_request.head.sha }}
