---
name: "Reusable Go Checks"

on:  # yamllint disable-line rule:truthy
  workflow_call:
    inputs:
      go-version:
        description: "The Go version to use"
        required: false
        type: string
        default: "stable"
      working-directory:
        description: "Directory where Go code is located"
        required: false
        type: string
        default: "."
    secrets:
      CHECKER_TOKEN:
        description: "The GITHUB_TOKEN passed from the caller"
        required: true
    outputs:
      go-summary:
        description: "A summary of the Go code quality checks."
        value: ${{ jobs.go-checks.outputs.go-summary }}
      go-status:
        description: "The overall status of the Go checks."
        value: ${{ jobs.go-checks.outputs.go-status }}

permissions:
  contents: read
  pull-requests: write
  checks: write

jobs:
  go-checks:
    name: "Go Quality Checks"
    runs-on: ubuntu-latest
    outputs:
      go-summary: ${{ steps.run-checks.outputs.go-summary }}
      go-status: ${{ steps.run-checks.outputs.go-status }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Run Go Checks
        id: run-checks
        uses: ./.github/actions/go-checks
        with:
          go-version: ${{ inputs.go-version }}
          working-directory: ${{ inputs.working-directory }}
          token: ${{ secrets.CHECKER_TOKEN }}
